body {
    display: grid;
    place-items: center;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    background-color: slategrey;
    padding: 20px;
    margin: 0;
}

.container {
    text-align: center;
    max-width: 500px;
    background-color: darkslateblue;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

h1 {
    text-align: center;
    color: #fff;
    margin-top: 0;
}

form {
    text-align: center;
    margin-bottom: 20px;
}

input {
    padding: 12px 2px; 
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    margin: auto;
}

button {
    padding: 12px 2px;
    background-color: #3366cc;
    color: white;
    border-radius: 4px;
    border: none;
    cursor: pointer;
}

#forecastHoursInput {
    width: 150px;
    padding: 12px;
    border: 1px solid #ccc;
    font-size: 14px;
    margin-top: 10px;
}

.weatherContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    
}

.weatherData {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem;
    padding: 20px;
    border-radius: 5px;
    width: 100%;
    max-width: 400px;
}

.weatherData h2 {
    color: #fff;
    margin-bottom: 10px;
}

.weatherInfo {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 10px;
    align-items: center;
    text-align: left;
    color: white;
    margin-bottom: 10px;
    
}

.weatherInfo p {
    margin: 0;
}

.weatherInfo p:first-child {
    justify-self: end;
    margin-right: auto;
}

.weatherInfo p:last-child {
    justify-self: start;
    margin-left: auto;
}


#forecastResult {
    margin-top: 20px;
}

.forecastItem {
    text-align: center;
    margin-bottom: 10px;
}

.forecastItem img {
    margin-right: 10px;
}

h3 {
    margin-top: 20px;
    color: hotpink;
}

p {
    color: #fff;
}
